<div class="contenedor">
  @if (usuarioActual?.perfil === 'Paciente') {
    <h1>Solicitar Turno</h1>
  } @else if (usuarioActual?.perfil === 'Administrador') {
    <h1>Asignar Turno</h1>
  }

  <form [formGroup]="formulario" (ngSubmit)="confirmar()">
    <div class="linea">

      <div class="grupo">
        <h3>Especialidades</h3>
        @for (especialidad of especialidades; track especialidad) {
          <div>
            <input type="radio" id="especialidad-{{ especialidad }}"
             formControlName="especialidad" [value]="especialidad" (change)="onEspecialidadChange()">
            <label for="especialidad-{{ especialidad }}">{{ especialidad }}</label>
          </div>
        }
      </div>

      <div class="grupo">
        <h3>Especialistas</h3>
        @for (especialista of especialistasFiltrados; track especialista) {
          <div>
            <input type="radio" id="especialista-{{ especialista.apellido }}"
             formControlName="especialista" [value]="especialista" (change)="onEspecialistaChange()">
            <label for="especialista-{{ especialista.apellido }}">{{ especialista.apellido }}</label>
          </div>
        }
      </div>

      @if (usuarioActual?.perfil === 'Administrador') {
        <div class="grupo">
          <h3>Pacientes</h3>
          @for (paciente of pacientes; track paciente) {
            <div class="radio-container">
              <input type="radio" id="paciente-{{ paciente.apellido }}"
               formControlName="paciente" [value]="paciente">
              <label for="paciente-{{ paciente.apellido }}">{{ paciente.apellido }}</label>
            </div>
          }
        </div>
      }

      <div class="fechas">
        <h3>Fechas</h3>
        @for (fecha of fechas; track fecha) {
          <div class="radio-container">
            <input type="radio" id="fecha-{{ fecha | fecha  }}"
            formControlName="fecha" [value]="fecha">
            <label for="fecha-{{ fecha | fecha  }}">{{ fecha | fecha }}</label>
          </div>
        }
      </div>
    </div>

    <div class="linea">
      <button type="submit" class="btn" [disabled]="formulario.invalid">Confirmar</button>
    </div>
  </form>
</div>
