<div class="contenedor">
  <div class="linea">
    <div class="contenedor-logs" #cuerpoLogs>
      <div *ngFor="let log of logs">
        {{ log }}
      </div>
    </div>
  </div>

  <div class="linea">
    <div class="contenedor-grafico" appHighlight highlightColor="lightblue" highlightScale="1.2">
      <h3>Turnos por Especialidad</h3>
      <canvas id="graficoUno"></canvas>
      <button class="boton botonExcel" (click)="descargarGraficoUno()">Descargar (Excel)</button>
    </div>
  
    <div class="contenedor-grafico" appHighlight highlightColor="lightblue" highlightScale="1.2">
      <h3 >Turnos por Día</h3>
      <canvas id="graficoDos"></canvas>
      <button class="boton botonExcel" (click)="descargarGraficoDos()">Descargar (Excel)</button>
    </div>
    <div class="contenedor-grafico" appHighlight highlightColor="lightblue" highlightScale="1.2">
      <h3>Turnos en los<br>últimos 7 días</h3>
      <canvas id="graficoTres"></canvas>
      <button class="boton botonExcel" (click)="descargarGraficoTres()">Descargar (Excel)</button>
    </div>

    <div class="contenedor-grafico" appHighlight highlightColor="lightblue" highlightScale="1.2">
      <h3>Turnos finalizados en los<br>últimos 7 días</h3>
      <canvas id="graficoCuatro"></canvas>
      <button class="boton botonExcel" (click)="descargarGraficoCuatro()">Descargar (Excel)</button>
    </div>
  </div>

  <div class="linea">
    <button class="boton botonExcel" (click)="descargarTodosLosGraficos()">
      Descargar Todos (Excel)
    </button>
  </div>
</div>
