h1 {
  text-align: center;
  margin-bottom: 80px;
  font-size: 90px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #bdd3f8;
  text-align: left;
}

.boton {
  margin-top: 20px;
  width: 40%;
  height: 60px;
  background: #bdd3f8;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
  color: #3c5ebc;
  font-weight: 600;
  transition: 0.30s;
}

.boton:hover {
  background-color:#c5d6f5;
  color: #2e4da3;
}

.filtro {
  width: 100vh;
  display: flex;
  gap: 15px;
  justify-content: center;  
}

.grupo {
  width: 36vh;
  background-color: #bdd3f8;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 12px;
  font-size: 25px;
  border-radius: 10px;
  h3 {
    color: #3c5ebc;
  }
}

.tdBoton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 3px;
  border-radius: 0px;
}

button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 13px 5px 13px;
  margin: 0px;
  transition: 0.2s;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
#btnCancelar {
  color: #b64848;
}
#btnCancelar:hover {
  color: #fff;
  background-color: #b64848;
}

#btnResenia {
  color: #45a550;
}
#btnResenia:hover {
  color: #fff;
  background-color: #45a550;
}

#btnEncuesta {
  color: #8e45b5;
}
#btnEncuesta:hover {
  color: #fff;
  background-color: #8e45b5;
}

#btnCalificar {
  color: #4868b9;
}
#btnCalificar:hover {
  color: #fff;
  background-color: #4868b9;
}

#saso {
  color:red;
}

label {
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
  width: 84%;
  transition: background-color 0.3s;
  border-radius: 10px;
  padding-left: 8px;
}
label:hover {
  background-color: #3c5ebc;
  color: #fff;
}
input[type="checkbox"]:checked + label {
  background-color: #3c5ebc;
  color: #fff;
  border-radius: 10px;
}