@if (mostrarDatosGithub) {
  <app-datos-github></app-datos-github>
} @else {
  <div class="texto">
    <!-- <h3>Gil Miguel Ángel - A141-1</h3> -->
    <h1>¡Bienvenido!</h1>
    <h2>Clínica Online</h2> <br>
    <p>Esta es nuestra Clínica Online.<br> 
      Esperamos que tengas una buena experiencia en la página.</p>
    <div class="botones">
      <!-- <button (click)="irADatosGithub()">Ver Datos de GitHub</button> -->
      <button (click)="irALogin()">Iniciar Sesión</button>
      <button (click)="irARegistro()">Crear Cuenta</button>
    </div>
  </div>
}