<div class="contenedor">
  <h1>Sobre mí</h1>
  <br>
  <div class="contenedor-dentro">
    <img [src]="avatar">

    <div class="contenedor-datos">
      <p><span>Nombre: </span>{{nombre}}</p>
      <p><span>Usuario de Github:</span> {{nombreUsuario}}</p>
      <p><span>Ubicación: </span>{{ubicacion}}</p>
      <p><span>Biografía: </span>{{biografia}}</p>
      <p><span>Usuario de Twitter: </span>{{usuarioTwitter}}</p>
      <p><span>Cantidad de Repositorios públicos: </span>{{cantidadRepositorios}}</p>
      <p><span>Fecha de creación en Github: </span>{{fechaCreacion}}</p>
    </div>
  </div>
</div>